# tar --{owner,group}=root --xform='s|^|usr/bin/|' -Oc tar2rpm \
#	| tar2rpm -c tar2rpm.config | rpm --dump -qip -
name     tar2rpm
version  1
release  1
arch     x86_64
license  BSD
url      https://github.com/tlahdekorpi/rpm
bug-url  https://github.com/tlahdekorpi/rpm/issues
packager tar2rpm
vendor   tar2rpm
summary  Generate rpm packages from tar archives.

description <<!
A tool to generate rpm packages from tar archives.
!
